body {
    margin: 0;
    /* overflow: hidden; */
    font-family: Roboto, sans-serif;
  }

header, footer{
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

.header-logo {
    display: flex;
    padding: 20px;
    width: 80px;
    height: 100px;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    padding-right: 20px;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
}

main img {
    max-width: 500px;
    height: 350px;
}

main {
    padding: 125px;
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    height: 10rem;
    gap: 100px;
}



.title {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
    padding: 5px;
}

.sub-title {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 400px;
    padding: 5px;
}

button {
    color: white;
    background-color: #3882f6;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(83, 38, 38);
}


section img {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 15px;
}

#strain-title {
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    padding: 30px; 
}

.strains {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 80px;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 18px;
}

.quote-sec {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    margin: 0;
    flex: 1;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    max-width: 60rem;
}

.author {
    font-weight: bolder;
    font-size: 28px;
    margin-left: 25em;
}

.sign-up {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 45px;
    padding-bottom: 45px;
    gap: 40px;
    border-radius: 10px;
}


#call-to-act{
    font-weight: bolder;
    font-size: 26px;
    
}
.text {
    color: white;
    font-size: 18px;
    color: #e5e7eb;
}

.container #button-2 {
    border-color: white;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bolder;
    font-size: large;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h2 {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
}